{% extends "base.html" %}

    {% block content %}
        <h1>Signup</h1>
        <form action="/" method="post">
            <label for="user_name">Username:
                <input type="text" name="username" id="user_name"/>
                {% if user_name_error %}
                    <p class="error"> {{ user_name_error }} </p>
                {% endif %}
            </label>
            <br>

            <label for="user_pass">Password:
                <input type="password" name="password" id="user_pass"/>
                {% if user_pass_error %}
                    <p class="error"> {{ user_pass_error }} </p>
                {% endif %}
            </label>
            <br>

            <label for="rep_pass">Verify Password:
                <input type="password" name="rep_password" id="rep_pass"/>
                {% if rep_pass_error %}
                    <p class="error"> {{ rep_pass_error }} </p>
                {% endif %}
            </label>
            <br>

            <label for="e_mail">Email:</label>
                <input type="text" name="email" id="e_mail"/>
                {% if e_mail_error %}
                    <p class="error"> {{ e_mail_error }} </p>
                {% endif %}
            </label>
            <br>

            <input type="submit" value="Submit"/>
        </form>
    {% endblock %}